@import './variables';
@import './reset';


.main-header ul {
  display: flex;
}

.main-header li {
  list-style: none;
  margin-left: 0.5rem;
}

header ol {
  list-style-type: upper-roman;
}

.content-container {
  padding: 1rem;
}

.sign-up-container {
  display: flex;
  align-items: center;  
}

.form-container,
.form-container form {
  display: flex;
  align-items: center;  
  justify-content: center;
  flex-wrap: wrap;

}

.form-container form input {
  margin: .5rem 0;
  width: 100%;
  max-width: 700px;
  padding: 1rem;
}

.form-container form input[type="submit"] {
  padding: .8rem;
  background: #97b99b;
  color: #fff;
}