<%- include('./base/header.ejs'); %>

<div class="header-container">
  <h1><%= pageTitle %></h1>
</div>

<figure class="ejs-logo">
    <img src="https://cdn.codeforgeek.com/wp-content/uploads/2021/07/ejs_template_engine_in_nodejs.png" alt="Ejs logo" width="350px" height="350px">
</figure>

<%- include('./base/footer.ejs'); %>
