html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  height: 100%;
}

.page-container {
  height: 100%;
}

h1 {
  color: #fff;
  text-align: center;
}

.header-container,
footer {
  background-color: #626261;
  padding: 1rem;
  color: #fff;
}

footer {
  text-align: center;
}

.ejs-logo {
  display: flex;
}

.ejs-logo img {
  width: 100%;
  height: 100%;
  max-width: 350px;
  margin: auto;
}